{% extends 'base.html' %}
{% block body %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Threads Info</title>
</head>
<body>
    <center>
    <H1 style="color: blue;" >Threads Informations </H1>
</center>
<center>
<p> Threads is a separate flow of execution.
    Every Threads has a task.
    Python threading allows you to have different parts of your program run concurrently and can simplify your design. If you’ve got some experience in Python and want to speed up your program using threads, then this tutorial is for you!
</p>
</center>
<center>
    <H1 style="color: blue;" >Multithreading Informations </H1>
</center>
<center>
  <h4> Using Multiple threads in program or process</h4>
  <p>The main important applications areas of multi threading are</p>
  <details>
    * Multimedia Graphic
    * Animations
    * Video Games
    * web Servers
    * Applications Server
  </details>
</center>
  <center>
    <H1 style="color: blue;" >Main Threads Informations </H1>
</center>
<center>
 <p> When we  start any python program. one threads beging running
    immediatcly , which is called main Threads of that program create by pvm.
    The main thread is create automatically when your program is started
 </p>
</center>

</body>
</html>

{% endblock %}